.custom-container{
	color : black;
}

.small-input {
    max-width: 80px;
}

.large-input {
    min-width: 200px;
}

.right-align {
    padding-left: 20px;
}

.right-alignFG{
    padding-left: 25px;
}