.uiModal--medium .modal-container {
    width: 100%;
    max-width: 1260px;
    min-width: 1080px;
}

.search-container {
    position: relative;
}

.suggestions-box {
    position: absolute;
    background: white;
    border: 1px solid #ddd;
    width: 100%;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    margin-top: 2px;
    border-radius: 0.25rem;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.suggestion-item {
    padding: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;
}

.suggestion-item:hover {
    background-color: #f4f6f9;
}

.no-result {
    color: #999;
    font-style: italic;
}

.search-icon {
    margin-right: 0.25rem;
}

.no-result-icon {
    fill: #f4b400;
}

.right-align {
    padding-left: 15px;
}
.right-alignPrice {
    padding-left: 25px;
}